# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Rohdaten nicht hochladen
Angebote/*.xlsx
Angebote/*.csv

Ausgangsrechnungen/*.xlsx
Ausgangsrechnungen/*.csv

Bestellungen/*.xlsx
Bestellungen/*.csv

Kundenstamm/*.xlsx
Kundenstamm/*.csv

Lagerbestand/*.xlsx
Lagerbestand/*.csv

Lieferantenstamm/*.xlsx
Lieferantenstamm/*.csv